<!DOCTYPE html>
<html>
<head>
	<meta content='text/html'; charset="utf-8" http-equiv='Content-Type'>
</head>
<body>
	<h1>Your Password to your company's Profile on Omenala</h1>
	<p>
		You have been registered as an Employee on Omenala.
	</p>
	<p>
		Your password is: <%= @pwd %>.<br>
	</p>
	<p>Thank you and have a great day!</p>
</body>
</html>